<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SearchServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SearchServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
 
      <endpoint address="http://192.168.30.155/WebService/SearchService.asmx"
          binding="basicHttpBinding" bindingConfiguration="SearchServiceSoap"
          contract="ArchiveWebService.SearchServiceSoap" name="SearchServiceSoap" />
         
               <!--
      <endpoint address="http://192.168.30.155/WebService/SearchService.asmx"
          binding="customBinding" bindingConfiguration="SearchServiceSoap12"
          contract="ArchiveWebService.SearchServiceSoap" name="SearchServiceSoap12" />
          
           -->
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
