<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="jquery-1.11.3.js"></script>
    <script src="angular.mini.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        //alert("hello wfg");
    });
    </script>
</head>

<body>
    <div ng-app="" ng-init="name='wfg'">
        <p>在输入框中尝试输入:</p>
        <p>姓名:
            <input type="text" ng-model="name">
        </p>
        <p ng-bind="name"></p>
        <p>{{name}}</p>
        <p>在输入框中尝试输入:</p>
        <p>姓名:
            <input type="text" ng-model="name1">
        </p>
        <p ng-bind="name1"></p>
    </div>
</body>

</html>
