 <rewrite>
            <rules>
                <rule name="Prevent Hotlinking" stopProcessing="true">
                    <match url=".*\.(.*)$" />
                    <conditions>
                        <add input="{HTTP_REFERER}" pattern="^$" negate="true" />
                        <add input="{HTTP_REFERER}" pattern="^http(.*)?172.16.134.214.*$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/Error.aspx" />
                </rule>
            </rules>
        </rewrite>